body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #8500dd;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #e200e2;
  text-align: center;
  padding: 10px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
